@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* 
Layout Elements
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Courier Prime", monospace;
  margin: 0;
  background-color: #a5a29f;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

header a {
  text-decoration: none;
}

.topnav {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  justify-content: space-between;

  background-color: #759026;
}

.topnav #title {
  margin: 0;
  padding: 0;
  align-self: center;
}

.topnav a {
  display: inline-block;
  padding: 10px;
  margin: 10px;

  color: #f8f8f8;
  font-weight: bold;

  transition: opacity 0.15s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: #2c461b;
}

.nav__list {
  display: flex;
}

.nav__list > li {
  padding: 0px 15px;
  transition: opacity 0.15s;
}

.nav__list > li > :where(a, button) {
  display: block;
  margin: 0;
  padding: 0.75em 1em;

  color: #f8f8f8;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  font-family: 'Courier Prime', monospace;

  border: none;
  outline: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  top: 100%;

  background-color: #2c461b;
  opacity: 1;
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 0.75em 1em;
  display: block;
}


/* INTERACTION */

/* Change color of dropdown links on hover */
.dropdown-content li:hover a {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown-content:hover {
  display: block;
}

/* highlight navigatable buttons on hover */
.topnav a:hover,
nav a:hover,
.dropdown:hover .dropbtn {
  opacity: 0.6;
}

nav .active {
  background-color: #436a29;
}

nav li:hover a.active {
  color: #888888;
  opacity: 1;
}